#historybody{
        background-image: linear-gradient(to right top, #111111, #161616, #1a1a1a, #1e1e1e, #222222);
        height: 100%;
        min-height: 100vh;
    
}

#WatchHistorybackicon{
    color: #fff;
    transition: color 0.6s;
    transition: transform 0.6s;

}

#WatchHistorybackicon:hover{
    color: #3255b6;
    transform: translatex(-1rem);
}

@media only screen and (max-width:600px){

    #thumbnailImg{
        width: 30%;
    }
    #thumbImage{
        width: 152px;
        height: 93px;
        background-size: cover;
    }
}

@media only screen and (min-width:600px){

    #thumbnailImg{
        width: 28%;
    }
    #thumbImage{
        width: 178px;
        height: 103px;
        background-size: cover;
    }
}

@media only screen and (min-width:768px){

    #thumbnailImg{
        width: 24%;
    }
    #thumbImage{
        width: 220px;
        height: 130px;
        background-size: cover;
    }
}

@media only screen and (min-width:992px){

    #thumbnailImg{
        width: 18%;
    }
    #thumbImage{
        width: 230px;
        height: 135px;
        background-size: cover;
    }
    
    
}